services:
  - type: web
    name: planit-api
    env: docker
    plan: free
    rootDir: server
    autoDeploy: true
    envVars:
      - key: ConnectionStrings__Default
        value: Data Source=/var/data/todo.db
      - key: AllowedOrigins__0
        value: https://planit-web-l2qi.onrender.com

  - type: web
    name: planit-web
    env: static
    rootDir: planit-client
    buildCommand: npm ci && npm run build
    staticPublishPath: dist
    autoDeploy: true
    envVars:
      - key: VITE_API_BASE_URL
        value: https://planit-api-fgze.onrender.com
